# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.WebApi.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Amarl\RiderProjects\WebApi\.idea\.idea.WebApi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
